---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Not Found">
  <div style="padding: 60px 0; text-align:center;">
    <h1>404</h1>
    <p>Sorry, that page was not found.</p>
  </div>
</BaseLayout>
